{erl_opts, [debug_info]}.
{deps,
 [{discordant, {git, "https://github.com/mikeyhc/discordant", {branch, main}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [yshtola]}
]}.

{relx,
 [{release, {yshtola, "0.1.0"},
   [yshtola, discordant, jsone, sasl]},
  {dev_mode, false},
  {sys_config, "./config/sys.config"},
  {include_erts, false},
  {extended_start_script, true}]}.
